.portfolio-section {
    overflow: hidden;
}
.portfolio-block {
    padding-top: 100px;

    @media (max-width: 767px) {
        padding-top: 0;
    }

    @media (max-width: 550px) {
        padding-top: 60px;
    }
}

.portfolio-item {
    background-color: #fff;
    height: 300px;

    @media (max-width: 1199px) {
        height: 250px;
    }

    @media (max-width: 767px) {
        height: auto;
    }


    .container {
        position: relative;
        height: 100%;
        z-index: 1;
        @include flex($justify: flex-start, $alignI: flex-start);

        @media (max-width: 767px) {
            padding: 50px 15px 100px;
        }

        @media (max-width: 550px) {
            padding: 20px 15px 40px;
        }
    }

    &__label {
        width: 500px;
        text-align: right;
        position: relative;
        z-index: 2;
        padding-top: 35px;

        @media (max-width: 991px) {
            width: 350px;
        }

        @media (max-width: 767px) {
            text-align: left;
        }

        @media (max-width: 550px) {
            padding-top: 20px;
            width: 250px;
        }

        h3 {
            font-family: $rc;
            color: #4e4e4e;
            font-size: 30px;
            margin-bottom: 30px;

            @media (max-width: 550px) {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }
    }

    &__preview {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        right: -250px;
        bottom: -35px;
        pointer-events: none;

        @media (max-width: 1199px) {
            width: 100%;
            right: -150px;
        }

        @media (max-width: 767px) {
            bottom: 0;
            width: 700px;
        }

        @media (max-width: 550px) {
            width: 500px;
            right: -75px;
        }

        @media (max-width: 450px) {
            opacity: .5;
        }
    }



    &:nth-child(2n) {
        background-color: #EAECEF;

        .container {
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }

        .portfolio-item__label {
            text-align: left;

            @media (max-width: 767px) {
                text-align: right;
            }
        }

        .portfolio-item__preview {
            right: auto;
            left: -250px;

            @media (max-width: 1199px) {
                left: -155px;
            }

            @media (max-width: 550px) {
                left: -75px;
            }
        }
    }
}